* {
    font-family: "Roboto";
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.section-one {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}

.left {
    font-size: 24px;
    color: #F9FAF8;
}

.left, .right {
    display: flex;
    align-items: center;
}

.modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 200px;
    gap: 40px;

}


.cool {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

.par {
    color: #F9FAF8;
    font-size: 12px;
    margin-bottom: 10px;
}

.modal img {
    width: 400px;
    height: auto;
    flex-shrink: 0;
}

.section-two {
    text-align: center;
    margin: 50px 200px;
}

.title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 32px;
  }

.container {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.stuff {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stuff .text {
    width: 100px;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    border-style: solid;
    border-color: #3882F6;
}


.section-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 50px 200px 0 200px;
}

.thor {
    margin-left: 400px;
    margin: 0 200px 50px 200px;
}

.section-four {
    display: flex;
    justify-content: center;
    margin: 100px 200px;
    background-color: #3882F6;
}

.please {
    display: flex;
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    color: #F9FAF8;
    font-size: 12px;
}

ul {
    list-style-type: none;
    gap: 18px;
    display: flex;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 12px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border: none;
    color: white;
    font-weight: 700px;
    padding: 5px 25px;
    text-decoration: none;
    border-radius: 4px;
}