* {
    font-family: "Roboto";
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.section-one {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo, .links {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.awesome {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cool {
    font-size: 48px;
    color: #F9FAF8;
}

.cool-2 {
    color: #F9FAF8;
}

.awesome .img {
    width: 500px;
    background-color: grey;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    color: #F9FAF8;
    font-size: 12px;
}

ul {
    list-style-type: none;
    gap: 18px;
}

a {
    text-decoration: none;
    font-size: 12px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border: none;
    color: white;
    font-weight: 700px;
    padding: 5px 25px;
    text-decoration: none;
    border-radius: 4px;
}